<div class="form-group spacing">
  <% if !(current_page?('/players/sign_up')) %>
    <%= link_to "Don't have an account? Register here instead.", new_player_registration_path %><br>
  <% end %>
  
  <% if !(current_page?('/players/sign_in')) %>
    <%= link_to "Sign in here.", new_player_session_path %><br>
  <% end %>

  <% if !(current_page?('/players/password/new')) %>
    <%= link_to "Forgot your password?", new_player_password_path %><br>
  <% end %>
</div>