<td style="background: url('<%= image_path gridfield.graphic_url %>')">
  <%= link_to image_tag(gridfield.character.graphic_url), select_character_games_path(character_id: gridfield.character.id, id: gridfield.map.game.id, gridfield_id: gridfield.id), controller: 'games_controller', action: 'select_character', method: :post %>
</td>