<td style="background: url('<%= image_path gridfield.graphic_url %>')">
  <%= link_to image_tag('MoveTile.png'), move_character_games_path(gridfield_id: gridfield.id), controller: 'games_controller', action: 'move_character', method: :post %>
</td>