<table class="table table-hover table-bordered table-condensed table-responsive tablesize">
  <thead>
    <tr>
      <td width="50%"> Player Name </td>
      <td width="50%" align="center"> Brainsss </td>
    </tr>
  </thead>

  <tbody>
    <% players.each do |player| %>
      <% if player != current_player %>
        <tr>
          <td width="50%"> <%= player.username %> </td>
          <td width="50%" align="center"> 
            <%= button_to "Play with this player", setup_game_path(player), controller: 'games_controller', action: 'setup', method: :post, class: 'btn btn-success', data: { disable_with: 'Creating'} %> 
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>